<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="Feed_A" value="REDA" />
        <add key="Feed_B" value="REDA" />
        <add key="Feed_C" value="REDA" />
    </packageSources>
    <appSettings>
        <add key="trustedSigners" value="REDA" />
    </appSettings>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
</configuration>