<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <add key="qaas-package-source" value="%QAAS_NUGET_SOURCE_URL%" protocolVersion="3" />
    </packageSources>
    <bindingRedirects>
        <add key="skip" value="False" />
    </bindingRedirects>
</configuration>
